.main-nav-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 30px 0;
}
.main-nav-categories > P {
  flex: 1 1;
  /* text-align: center; */
}
.main-nav-categories-create {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 30px 0;
}
.main-nav-categories-names {
  border-radius: 10px 10px 0 0; 
  border-bottom: 5px solid #f88a12;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}
.main-nav-categories-names > P {
  flex: 1 1;
  text-align: center;
}
.categories-table {
  width: 100%;
  margin: auto;
  text-align: center;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #707070;
  color: #777777;
}
td,
th{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.categories-table > thead > tr > th {
  background-color: #fff0df;
  height: 60px;
  color: #707070;
}

.categories-table > tbody > tr {
  height: 60px;
}
.table-btn {
  background: transparent
    linear-gradient(180deg, var(--unnamed-color-f88a12) 0%, #cd2d05 100%) 0% 0%
    no-repeat padding-box;
  background: transparent linear-gradient(180deg, #f88a12 0%, #cd2d05 100%) 0%
    0% no-repeat padding-box;
}
