.main-nav-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 30px 0;
}
.main-nav-categories>P{
  flex: 1 1;
  /* text-align: center; */
}
.main-nav-categories-names{
  border: 1px solid #F88A12;
  border-radius: 10px 10px 0 0 ;
  border-bottom: 5px solid #F88A12;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}
.main-nav-categories-names>P{
  flex: 1 1;
  text-align: center;
}
.categories-table {
  width: 100%;
  margin: auto;
  text-align: center;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #707070;
  margin: 0;
  padding: 0;
  font-size: 22px;
  color: #777777;
}

.categories-table > thead > tr > th {
  background-color: #fff0df;
  height: 80px;
  color: #707070;
}

.categories-table > tbody > tr {
  height: 80px;
}
.table-btn {
  background: transparent
    linear-gradient(180deg, var(--unnamed-color-f88a12) 0%, #cd2d05 100%) 0% 0%
    no-repeat padding-box;
  background: transparent linear-gradient(180deg, #f88a12 0%, #cd2d05 100%) 0%
    0% no-repeat padding-box;
}
